@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@theme{
  --font-dm: "DM Sans", sans-serif;
}

.slick-dots .slick-active div{
    border-right: 2px solid black !important;
    color: #262626 !important;
}